.user-account {
  margin: 0;
  width: 86px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  padding-left:11px;
  padding-right: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.user-account:hover {
  opacity: 0.8;
  transition: all .4 linear;
}

.user-account__text {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
}

.user-account__logo {
  object-fit: contain;
  width: 11px;
  height: 11px;
  background: #F9F9F9;
  border-radius: 50px;
  padding: 8px;
}

@media screen and (max-width: 860px) {
  .user-account {
    display: none;
  }

  .user-account_active {
    display: flex;
    z-index: 2;
    position: fixed;
    bottom: 25px;
    right: calc(260px - 86px/2);
  }
}

@media screen and (max-width: 520px) {
  .user-account_active {
    right: calc(50% - 86px/2);
  }
}