.promo {
  padding: 75px 70px;
  height: 574px;
  margin: 0;
  background: #073042;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.promo__title {
  margin: 0;
  padding-bottom: 36px;
  max-width: 60%;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  color: #FFFFFF;

}

.promo__text {
  margin: 0;
  max-width: 400px;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.promo__image {
  width: 310px;
  height: 304px;
  object-fit: contain;
  position: absolute;
  right: 70px;
  top: 75px;
}

.promo__more {
  width: 129px;
  height: 36px;
  margin-top: auto;
  outline: none;
  background-color: transparent;
  opacity: 0.6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #FFFFFF;
  cursor: pointer;
}