.edit-profile {
  margin: 0 auto;
  max-width: 396px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-profile__greeting {
  margin: 0;
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.edit-profile__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-profile__field {
  margin-top: 24px;
}

.edit-profile__input-title {
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
}

.edit-profile__input {
  margin: 0;
  padding: 5px 0;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px #E8E8E8 solid;
  font-size: 14px;
  line-height: 1.21;
}

.edit-profile__input_status_error {
  color: #FF3055;
}

.edit-profile__input:focus {
  border-bottom: 1px #3456F3 solid;
}

.edit-profile__input-error {
  margin: 0;
  font-size: 10px;
  line-height: 1.2;
  color: #FF3055;
}

.edit-profile__submit {
  margin-top: 134px;
  width: 100%;
  height: 45px;
  outline: none;
  border:none;
  background-color: #3456F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

.edit-profile__text {
  padding-top: 16px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #A0A0A0;
}

.edit-profile__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #3456F3;
  text-decoration: none;
}

@media screen and (max-width: 860px) {
  .edit-profile {
    padding: 50px 30px 0;
  }
}

@media screen and (max-width: 460px) {
  .edit-profile {
    align-items: center;
    min-height: 100vh;
    height: 100%;
  }

  .edit-profile__submit {
    justify-self: flex-end;
  }

  .edit-profile__text {
    font-size: 12px;
    line-height: 1.25;
  }
}