.header {
  padding: 0 70px;
  margin: 0;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_theme_dark {
  background: #073042;
}

@media screen and (max-width: 860px) {
  .header {
    padding: 0 14px;
 }
}